:root{
    --fundo:#0000CD;
    --cor-frente:#cd0000;
    --cor-verso:#2cecb3;
    --destaque:#ff09ca;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);
    margin: 0%;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
}